[Unit]
Description=Docker container for USAJobs CORS proxy server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start proxy

[Install]
WantedBy=multi-user.target