[Unit]
Description=Gunicorn Server

[Service]
User=root
Group=root
WorkingDirectory=/app
ExecStartPre=/bin/sh -c 'hostname=$(yq e ".hostname" /app/app_conf.yml); echo "HOSTNAME is set to: $hostname" > /tmp/proxy.log'
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:8443 --certfile="/etc/letsencrypt/live/${hostname}/fullchain.pem" --keyfile="/etc/letsencrypt/live/${hostname}/privkey.pem" --timeout 300 app:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
