[Unit]
Description=Gunicorn Server

[Service]
User=root
Group=root
WorkingDirectory=/app
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:8443 --certfile=/etc/letsencrypt/live/$(grep hostname app_conf.yml | cut -d ':' -f 2 | xargs)/fullchain.pem --keyfile=/etc/letsencrypt/live/$(grep hostname app_conf.yml | cut -d ':' -f 2 | xargs)/privkey.pem --timeout 300 app:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
