[Unit]
Description=Docker container for USAJobs CORS proxy server
Requires=docker.service
After=docker.service
TimeoutStartSec=30

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/proxy-startup-helper.sh

[Install]
WantedBy=multi-user.target