[Unit]
Description=Docker container for USAJobs CORS proxy server
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/proxy-startup-helper.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
